<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no">

    <title>Dublin Bike Homepage</title>
    {{ fontawesome_html() }}
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- local css file -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Nav bar  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar">
        <a class="navbar-brand" href="/"><i style="font-size: 30px" class="fa fa-bicycle"></i> Dublin Bike</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto btn-1">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Journey Planner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <div>
    </nav>

    <div class="container">
        <strong>This project is created by:</strong>
        <div class="row">
            <div class="col-sm">
                
                <div class="card custom-card" style="width: 18rem;padding:10px;">
                    <img src="{{ url_for('static', filename='img/woman.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">ChoMan</p>
                    </div>
                  </div>

            </div>
            <div class="col-sm">
                
                <div class="card custom-card" style="width: 18rem;padding:10px;">
                    <img src="{{ url_for('static', filename='img/boy.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Neo</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                
                <div class="card custom-card" style="width: 18rem;padding:10px;">
                    <img src="{{ url_for('static', filename='img/man.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Minghan</p>
                    </div>
                  </div>
            </div>
          </div>
      </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>