<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Bike Homepage</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
</head>

<body>
    <div id="container">
        <div id="nav-bar">Dublin Bike</div>
        <div id="map"></div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMTVUhEGCodAG4zPUPWLs8_HMtt26Iujg&callback=initMap">
    </script>
</body>

</html>